.routes_of_america_logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 90px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 90px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#main_page_interstate_highway_container,
#main_page_state_route_container{
    text-wrap: wrap;
}
#main_page_us_highway_container, #main_page_other_routes_and_highways_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#routes_of_america_main_content, #main_page_interstate_highway_pictures,
#main_page_us_highway_pictures, #main_page_state_route_pictures, 
#main_page_other_routes_and_highways_pictures{
    text-wrap: wrap;
}
#main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
#main_us_highway_image, #main_state_route_sign, #main_state_route_image, #main_county_route_sign, 
#main_forest_highway_image{
    width: 25vw;
    height: 25vh;
}
.the_routes_of_america_nav_buttons{
    margin-left: auto;
    margin-right: auto;
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
#address_box{
    left: 50px;
    top: 100px;
}
#city_box{
    left: 150px;
    top: 100px;
}
#state_box{
    left: 250px;
    top: 100px;
}
#zip_code_box{
    left: 350px;
    top: 100px;
}
#phone_number_box{
    left: 100px;
    top: 250px;
}
#email_box{
    left: 200px;
    top: 250px;
}
.routes_of_america_footer{
    position: fixed;
    margin-top: 30px;
}
#routes_of_america_navbar ul{
    list-style-type: none;
    padding: 10px 0;
}
.col-md{
    color: rgb(50, 37, 37);
}
.col-md:hover{
    color: orange;
}
.col-md:visited{
    color: yellow;
}
.modal-body{
    color: black;
}
nav li a{
    color: white;
}
nav li a:hover{
    color: orange;
}
nav li a:visited{
    color: yellow;
}
@media (max-width: 700px){
    #main_page_interstate_highway_container, #main_page_state_route_container,
    #main_page_us_highway_container, #main_page_other_routes_and_highways_container{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    #main_page_interstate_highway_pictures, #main_page_us_highway_pictures, #main_page_state_route_pictures, 
    #main_page_other_routes_and_highways_pictures{
        flex-direction: column;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}