:root{
    --routes-of-america-navbar-link-hover-color: #32cd32;
    --routes-of-america-main-webpage-text-color: #ffffff;
    --routes-of-america-navigation-buttons-text-hover-color: #8b0000;
    --routes-of-america-modal-color: #000000;
    --routes-of-america-footer-link-active-color: #ffff00;
    --routes-of-america-footer-link-hover-color: #ffa500;
}
#routes_of_america_title_page{
    width: 100%;
    transition: margin-left 0.5s;
}
.routes_of_america_logo{
    position: relative;
    margin-left: 470px;
}
.first_title_line{
    position: absolute;
    left: 570px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    color: var(--routes-of-america-main-webpage-text-color);
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 570px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    color: var(--routes-of-america-main-webpage-text-color);
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: 330px;
}
#main_page_interstate_highway_container, #main_page_us_highway_container{
    font-size: 20px;
    gap: 20px;
}
#main_page_state_route_container{
    font-size: 20px;
}
#main_page_state_route_container_text{
    margin-left: 650px;
} 
#main_page_state_route_container_button{
    margin-left: 675px;
}
#main_page_other_routes_and_highways_container{
    font-size: 20px;
    gap: 45px;
}
#routes_of_america_main_content{
    font-size: 20px;
    text-wrap: wrap;
}
#main_page_interstate_highway_pictures, #main_page_us_highway_pictures, 
#main_page_other_routes_and_highways_pictures{
    gap: 10px;
}
#main_page_state_route_pictures{
    gap: 5px;
}
.the_routes_of_america_nav_buttons:hover, #help-button:hover{
    transform: scale(1.3, 1.3);
    color: var(--routes-of-america-navigation-buttons-text-hover-color);
    box-shadow: 0 0 0 5px var(--routes-of-america-navigation-buttons-text-hover-color);
}
.the_routes_of_america_nav_buttons:active, #help-button:active{
    transform: scale(0.5, 0.5);
}
.routes_of_america_computer_navbar .row{
    list-style-type: none;
    padding: 10px 0;
}
.routes_of_america_tablet_and_phone_navbar{
    visibility: hidden;
}
.routes_of_america_computer_navbar .row .col-md a, .routes_of_america_tablet_and_phone_navbar a{
    color: var(--routes-of-america-main-webpage-text-color);
}
.routes_of_america_computer_navbar .row .col-md a:hover, 
.routes_of_america_tablet_and_phone_navbar a:hover{
    color: var(--routes-of-america-navbar-link-hover-color);
}
.sidebar{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar a{
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.sidebar .closebtn{
    position: absolute;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
.openbtn{
    font-size: 70px;
    cursor: pointer;
    position: fixed;
    display: none;
    color: var(--routes-of-america-main-webpage-text-color);
    bottom: 130px;
    background-color: transparent;
    border: none;
}
.openbtn:hover{
    color: var(--routes-of-america-footer-link-hover-color);
}
.routes_of_america_contact_section, .routes_of_america_footer{
    margin: 0 5px;
    font-size: 20px;
}
#help-button{
    margin-left: 570px;
}
.modal-header,
.modal-body{
    color: var(--routes-of-america-modal-color);
}
#email-link,
#copyright-link,
#webportfolio-link{
    color: var(--routes-of-america-main-webpage-text-color);
}
#email-link:hover,
#copyright-link:hover,
#webportfolio-link:hover{
    color: var(--routes-of-america-footer-link-hover-color);
}
#email-link:active,
#copyright-link:active,
#webportfolio-link:active{
    color: var(--routes-of-america-footer-link-active-color);
}
@media screen and (max-width: 800px){
    #main_page_interstate_highway_container, #main_page_state_route_container,
    #main_page_us_highway_container, #main_page_other_routes_and_highways_container{
        flex-direction: column;
    }
    #main_page_state_route_container_text{
        margin-left: 0px;
    } 
    #main_page_state_route_container_button{
        margin-left: 0px;
    }
    #main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
    #main_us_highway_image, #main_county_route_sign, 
    #main_forest_highway_image{
        width: 100px;
        height: 100px;
    }
    #main_state_route_sign, #main_state_route_image{
        width: 90px;
        height: 90px;
    }
    .routes_of_america_logo{
        margin-left: 210px;
    }
    .routes_of_america_computer_navbar{
        display: none;
    }
    .routes_of_america_tablet_and_phone_navbar{
        visibility: visible;
    }
    .openbtn{
        display: block;
    }
    .first_title_line, .second_title_line{
        left: 310px;
    }
    #main_highway_title_image{
        margin-left: 180px;
    }
    .the_routes_of_america_nav_buttons{
        margin-left: 210px;
    }
    #help-button{
        margin-left: 300px;
    }
}
@media screen and (max-width: 500px){
    #main_page_interstate_highway_pictures, #main_page_us_highway_pictures, #main_page_state_route_pictures, 
    #main_page_other_routes_and_highways_pictures{
        flex-direction: column;
    }
    #main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
    #main_us_highway_image, #main_county_route_sign, 
    #main_forest_highway_image{
        width: 80px;
        height: 80px;
    }
    #main_state_route_sign, #main_state_route_image{
        width: 65px;
        height: 65px;
    }
    .routes_of_america_logo{
        margin-left: 90px;
    }
    .first_title_line, .second_title_line{
        left: 190px;
    }
    .openbtn{
        bottom: 300px;
    }
    #main_highway_title_image{
        margin-left: 150px;
    }
    .the_routes_of_america_nav_buttons{
        margin-left: 140px;
    }
    #help-button{
        margin-left: 90px;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}