#background_u.s._image, #main_highway_title_image{
    margin-left: auto;
    margin-right: auto;
}
#background_interstate_sign{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.webpage_titles{
    position: absolute;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 25px;
}
#main_page_interstate_highway_pictures, #main_page_state_route_pictures{
    float: right;
}
#main_page_u.s._highway_pictures, #main_page_other_routes_and_highways_pictures{
    float: left;
}
#routes_of_america_navbar ul{
    list-style-type: none;
    padding: 5px 0;
}
#routes_of_america_navbar li{
    padding: 5px 0;
}
#routes_of_america_navbar li a{
    padding: 5px 10px;
}