.background_us_image{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.background_interstate_sign{
    position: absolute;
    left: 100px;
    top: 50px;
}
.webpage_title{
    position: absolute;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 25px;
}
#first_title_line{
    animation-name: bringInTitle;
    animation-duration: 3s;
}
#second_title_line{
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_highway_title_image{
    margin-left: auto;
    margin-right: auto;
}
#main_page_interstate_highway_pictures, #main_page_state_route_pictures{
    float: right;
}
#main_page_us_highway_pictures, #main_page_other_routes_and_highways_pictures{
    float: left;
}
#routes_of_america_navbar a:hover, #copyright_link:hover, #web_portfolio_link:hover{
    color: orange;
}
#routes_of_america_navbar a:visited, #copyright_link:visited, #web_portfolio_link:visited{
    color: yellow;
}
@keyframes bringInTitle{
    0% {transform: translate(-10px, 45px) rotate(-35deg);}
    15% {transform: translate(60px, 25px) rotate(-35deg);}
    25% {transform: translate(60px, 25px) rotate(35deg);}
    50% {transform: translate(100px, 45px) rotate(35deg);}
    75% {transform: translate(100px, 45px) rotate(-35deg);}
    100% {transform: translate(200px, 100px) rotate(-35deg);}
}