#routes_of_america_logo{
    position: relative;
    width: 20vw;
    height: 10vh;
}
.title_lines{
    position: absolute;
    left: 30px;
    top: -30px;
}
.first{
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second{
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#main_page_interstate_highway_container,
#main_page_state_route_container{
    text-wrap: wrap;
}
#main_page_us_highway_container, #main_page_other_routes_and_highways_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#main_page_interstate_highway_pictures, #main_page_us_highway_pictures,
#main_page_state_route_pictures, #main_page_other_routes_and_highways_pictures{
    text-wrap: wrap;
}
#main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
#main_us_highway_image, #main_state_route_sign, #main_state_route_image, #main_county_route_sign, 
#main_forest_highway_image{
    width: 20vw;
    height: 20vh;
}
.the_routes_of_america_nav_buttons{
    margin-left: auto;
    margin-right: auto;
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
#address_box{
    left: 50px;
    top: 100px;
}
#city_box{
    left: 150px;
    top: 100px;
}
#state_box{
    left: 250px;
    top: 100px;
}
#zip_code_box{
    left: 350px;
    top: 100px;
}
#phone_number_box{
    left: 100px;
    top: 250px;
}
#email_box{
    left: 200px;
    top: 250px;
}
.routes_of_america_footer{
    position: fixed;
}
#routes_of_america_navbar ul{
    list-style-type: none;
    padding: 10px 0;
}
#routes_of_america_navbar li a,#copyright_link, #web_portfolio_link,
#email_link{
    color: white;
}
#routes_of_america_navbar li a:hover,#copyright_link:hover, #web_portfolio_link:hover,
#email_link:hover{
    color: orange;
}
#routes_of_america_navbar li a:visited, #copyright_link:visited, #web_portfolio_link:visited, 
#email_link:visited{
    color: yellow;
}
@media all and (max-width: 700px){
    #main_page_interstate_highway_pictures{
        flex-direction: column;
    }
    #main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
    #main_us_highway_image, #main_state_route_sign, #main_state_route_image, #main_county_route_sign, 
    #main_forest_highway_image{
    flex-direction: row;
    text-wrap: wrap;
    }
}
@media all and (max-width: 500px){
    #main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
    #main_us_highway_image, #main_state_route_sign, #main_state_route_image, #main_county_route_sign, 
    #main_forest_highway_image{
        flex-direction: column;
        text-wrap: wrap;
        width: 20vw;
        height: 20vh;
    }
    #main_page_interstate_highway_pictures, #main_page_us_highway_pictures, #main_page_state_route_pictures, 
    #main_page_other_routes_and_highways_pictures{
        flex-direction: column;
        text-wrap: wrap;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(-10px, 45px) rotate(-35deg);}
    15% {transform: translate(60px, 25px) rotate(-35deg);}
    25% {transform: translate(60px, 25px) rotate(35deg);}
    50% {transform: translate(100px, 45px) rotate(35deg);}
    75% {transform: translate(100px, 45px) rotate(-35deg);}
    100% {transform: translate(200px, 100px) rotate(-35deg);}
}