.routes_of_america_logo{
    position: relative;
}
.first_title_line{
    position: absolute;
    left: 90px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    color: white;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 90px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    color: white;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#main_page_interstate_highway_container,
#main_page_state_route_container{
    text-wrap: wrap;
}
#main_page_us_highway_container, #main_page_other_routes_and_highways_container{
    text-wrap: wrap;
}
#routes_of_america_main_content, #main_page_interstate_highway_pictures,
#main_page_us_highway_pictures, #main_page_state_route_pictures, 
#main_page_other_routes_and_highways_pictures{
    text-wrap: wrap;
}
#main_interstate_highway_sign, #main_interstate_highway_image, #main_us_highway_sign,
#main_us_highway_image, #main_county_route_sign, 
#main_forest_highway_image{
    width: 25vw;
    height: 25vh;
}
#main_state_route_sign, #main_state_route_image{
    width: 25vw;
    height: 35vh;
}
nav ul{
    list-style-type: none;
    padding: 10px 0;
}
.modal-header,
.modal-body{
    color: black;
}
#email-link,
#copyright-link,
#webportfolio-link{
    color: white;
}
#email-link:hover,
#copyright-link:hover,
#webportfolio-link:hover{
    color: orange;
}
#email-link:visited,
#copyright-link:visited,
#webportfolio-link:visited{
    color: yellow;
}
@media (max-width: 700px){
    #main_page_interstate_highway_container, #main_page_state_route_container,
    #main_page_us_highway_container, #main_page_other_routes_and_highways_container{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    #main_page_interstate_highway_pictures, #main_page_us_highway_pictures, #main_page_state_route_pictures, 
    #main_page_other_routes_and_highways_pictures{
        flex-direction: column;
    }
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}